<%= simple_form_for @item_category, :html => { :class => 'form-horizontal' }, :defaults => {:label => false} do |f| %>
  <fieldset>
    <h4>Kit Name </h4><%= f.input :name %>
    <h4>Kit Photo</h4> <%= f.file_field :photo %>
    <h4>Description</h4> <%= f.input :description, :input_html => {:style => "height: 200px;"}, as: :text %>

    <div class="form-actions">
      <%= link_to 'CANCEL EDITS', item_category_path(@item_category.id), :class => 'button radius' %>
      <%= f.submit 'SAVE CHANGES', :class => 'button success radius' %>
    </div>
  </fieldset>

<% end %>
