<div id="item-pic">
  <% if @item_category.nil? && item_category.nil? %>
      <%= image_tag("not_found.jpg", width: "50%", height: "40%") %>
  <% elsif item_category.nil? %>
    <% unless @item_category.item_photo_url.nil? %>
      <p><%= link_to image_tag(@item_category.item_photo_url) %></p>
    <% else %>
      <%= image_tag("not_found.jpg", width: "50%", height: "40%") %>
    <% end %>
  <% else %>
    <% unless item_category.item_photo_url.nil? %>
      <p><%= link_to image_tag(item_category.item_photo_url) %></p>
    <% else %>
      <%= image_tag("not_found.jpg", width: "50%", height: "40%") %>
    <% end %>
  <% end %>
</div>
