  <div class="cell-block-y" id="report">
    <div class="grid-container">

      <div class="grid-x">
        <div class="inner-title cell-block-x small-12">
          <span class="uline"><h3>REPORTS</h3> </span>
        </div>
      </div>

      <div class="grid-x">
        <div class="small-6 cell">
          <%= simple_form_for :report, :html => { :class => 'form-horizontal' }, :defaults => {:label => false} do |f| %>
            <fieldset>
              <h4>Report Title </h4><%= f.input :title %>
              <h4>Report Subtitle (Optional)</h4> <%= f.input :subtitle %>

              <h4>Report Description (Optional)</h4> <%= f.input :description, :input_html => {:style => "height: 200px;"}, as: :text %>

        </div>

        <div class="small-6 cell">
          <h4>Included in Report</h4>
          <table>
            <thead>
              <tr>
                <th> x </th>
                <td>
                  School Kit Rentals Monthly
                </td>
              </tr>

              <tr>
                <th> x </th>
                <td>
                  School Kit Rentals Yearly
                </td>
              </tr>

              <tr>
                <th> x </th>
                <td>
                  Teacher Rentals Monthly
                </td>
              </tr>

              <tr>
                <th> x </th>
                <td>
                  Teacher Rentals Yearly
                </td>
              </tr>

              <tr>
                <th> x </th>
                <td>
                  Kit Statuses
                </td>
              </tr>

              <tr>
                <th> x </th>
                <td>
                  Kit popularity
                </td>
              </tr>

              <tr>
                <th> x </th>
                <td>
                  Inventory Summary
                </td>
              </tr>

            </thead>

          </table>
          <div class="form-actions">
            <%= f.submit 'EXPORT REPORT', :class => 'button success radius' %>
          </div>
        </div>


      </fieldset>
        <% end %>


      </div>
    </div>
  </div>
